.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    row-gap: 2rem;
    padding:2%; 
    /* border: 2px solid black; */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.63);
}
.grid{
      display: grid;
      grid-template-columns: auto;
}
.fullpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.logout{
    background-color: rgb(150, 148, 154);
    margin: 20px;
    padding: 6px;
    position: absolute;
    bottom: 0;
}